/* src/assets/main.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Applichiamo lo stile di base del corpo del testo a tutto il body */
  font: var(--typography-style-body-base);
  color: var(--color-text-primary);
  background-color: var(--color-surface-page);
}
